<table class="dc-timeslots">
  <thead>
    <th></th>
    <th>
      <h3><%= day.toDateString() %></h3>

      <nav class="dc-navigation" role="navigation">
        <button value="prev">Previous</button>
        <button value="today">Today</button>
        <button value="next">Next</button>
      </nav>
    </th>
  </thead>
  <tbody>
    <% _.each(timeslots, function(slot, index) { %>
    <tr class="slot-<%- index %> <%- slot.class %>">
      <th><%= slot.label %></th>
      <td class="dc-event-content"><div></div></td>
    </tr>
    <% }); %>
  </tbody>
</table>
